<div class="title">
    <h1>
        Detalle estudiante        
    </h1>
</div>
<div *ngIf="student != null" class="container">
    <mat-card class="card">
        <mat-card-title>{{ student.firstName + " " + student.lastName }}</mat-card-title>
        <mat-card-content>
            <p><strong>Usuario:</strong> {{ student.username }} </p>
            <p><strong>Edad:</strong> {{ student.age }} </p>
            <p><strong>Carrera:</strong> {{ student.career }} </p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/ListaEstudiantes" mat-raised-button>Volver</button>
        </mat-card-actions>
    </mat-card>
</div>